# Игнорирование файлов компиляции Python
*.pyc
__pycache__/

# Игнорирование файлов среды разработки
.vscode/
.idea/

# Игнорирование файлов окружения
env/
venv/
.venv/

# Игнорирование файлов зависимостей и пакетов
*.egg-info/
dist/
build/
*.egg

# Игнорирование сгенерированных файлов
*.pyo
*.pyd
*.so
*.dll
*.exe
*.bak

# Игнорирование лог-файлов
*.log

# Игнорирование файлов настроек
*.ini
*.cfg
*.conf

# Игнорирование файлов секретных данных
*.env
*.secret
*.key

# Игнорирование временных файлов и папок
*.swp
*~
